In [48]:
import sqlite3
con = sqlite3.connect('week3.sqlite',isolation_level = None)
cur = con.cursor()

In [49]:
cur.execute("""DROP TABLE IF EXISTS movies""")

In [50]:
q = """
CREATE TABLE IF NOT EXISTS movies (
    id INTEGER PRIMARY KEY,
    title TEXT,
    year INTEGER,
    rating FLOAT,
    is_watched BOOLEAN DEFAULT 0,
    created_at DATETIME DEFAULT CURRENT_TIMESTAMP,
    updated_at DATETIME DEFAULT CURRENT_TIMESTAMP
) 
"""
cur.execute(q)

In [51]:
q = """
SELECT
    name
FROM
    sqlite_master
"""
res = cur.execute(q)

In [52]:
#Fetch the first row of the result
res.fetchone()

('movies',)

In [53]:
q = """
SELECT
    *
FROM
    movies
"""
res = cur.execute(q)
res.fetchall()

[]

In [54]:
q = """
INSERT INTO movies(
    title, 
    year, 
    rating
) VALUES (
    'The Matrix',
    1999,
    5.0
)
"""
cur.execute(q)

In [55]:
q = """
INSERT INTO 
    movies(
        title, 
        year, 
        rating
    ) VALUES (?, ?, ?)
"""
cur.execute(
    q,
    ('Forest Gump', 1994, 5.0)
)

In [57]:
res = cur.execute("""SELECT * FROM movies""")
for row in res:
    print(row)

(1, 'The Matrix', 1999, 5.0, 0, '2024-01-23 23:37:36', '2024-01-23 23:37:36')
(2, 'Forest Gump', 1994, 5.0, 0, '2024-01-23 23:37:36', '2024-01-23 23:37:36')

In [58]:
data = [
    ('The Matrix', 1999, 5.0),
    ('Forest Gump', 1994, 5.0),
    ('The Shawshank Redemption', 1994, 5.0),
]
cur.executemany(
    """INSERT INTO movies(title, year, rating) VALUES (?, ?, ?)""",
    data
)

In [59]:
import pandas as pd

In [61]:
data = [
    {"name":"concert"},
    {"name":"beer pong"},
    {"name":"dinner"}
]
df = pd.DataFrame(data)